<div class="summary-question">
<%= simple_form_for(interview, remote: true, :url => interview_path(interview), method: 'patch') do |f| %>
  <% questions_array = YAML.load(open('config/interview_questions.yml').read) %>
  <% questions_array.each_with_index do |question, index| %>
    <% if question['category'] == "financial_info" %>
      <div class="interviews-show-user-card-right-item">
        <div class="interviews-show-user-card-right-item-icon">
          <%= question['icon'].html_safe %>
        </div>
        <div class="interviews-show-user-card-right-item-text">
          <div class="interviews-show-user-card-right-item-text-title">
            <%= question['short_title'] %>
          </div>
          <% if question['field'] == "organisation_id" %>
            <%= f.input :organisation_id, label: false, :collection => Organisation.all.map {|u| [u.name, u.id]}, input_html: {class: "chosen-select chosen-container chosen-container-single chosen-with-drop chosen-container-active"}  %>
          <% elsif question['field'] == "professional_status" %>
            <%= f.input :professional_status, label: false, :collection => ["Student", "Working Student", "Other"], input_html: {class: "chosen-select chosen-container chosen-container-single chosen-with-drop chosen-container-active"} %>
          <% else %>
            <p><%= f.input question['field'], label: false %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= f.submit 'Save', class: "btn btn-primary save-step", id: "save-financial-btn"%>
  <% end %>
</div>
