 <div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="edit-later-container">

      <div class="show-user-left">
      <%= user_picture_avatar(current_user, "interview-show-avatar avatar-bordered-xl") %>
        <h2>Personal Information</h2>
        <div class="interview-link", id="edit-personal-info-btn">
        <i class="fa fa-pencil fa-fw"></i></div>
      </div>

      <div class="v-separator"></div>

      <div class="show-user-right", id="personal_info">
        <%= render "category_questions", category: "personal_info" %>
      </div>
      <div class="show-user-right edit-form hidden" id="edit-personal-info">
          <%= render "personal_info_edit", user: @user %>
      </div>

    </div>
  </div>

  <!-- Financial info card -->
  <div class="col-xs-12 col-md-6">
    <div class="edit-later-container">
      <div class="show-user-left", >
        <%= image_tag "cash.svg", class: "interview-image" %>
        <h2>Financial Information</h2>
        <div class="interview-link", id="edit-financial-info-btn">
          <i class="fa fa-pencil fa-fw"></i>
        </div>
      </div>

      <div class="v-separator"></div>

      <div class="show-user-right", id="financial_info">
        <%= render "category_questions", category: "financial_info" %>
      </div>

      <div class="show-user-right edit-form hidden" id="edit-financial-info">
        <%= render "financial_info_edit", interview: @interview %>
      </div>

    </div>
  </div>
  <!-- End of financial info card -->
  <div class="col-xs-12 col-md-6">
    <div class="edit-later-container">
      <div class="show-user-left">
        <%= image_tag "house.svg", class: "interview-image" %>
        <h2>Apartment Information</h2>
        <%= link_to edit_later_path(@interview), class: "interview-link"  do %>
        <i class="fa fa-pencil fa-fw"></i>
        <% end %>
      </div>
      <div class="v-separator"></div>
      <div class="show-user-right">
        <%= render "category_questions", category: "apartment_info" %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="edit-later-container">
      <div class="show-user-left">
        <%= image_tag "folder.png", class: "interview-image" %>
       <h2>Supporting Documents</h2>
       <%= link_to edit_later_path(@interview), class: "interview-link"  do %>
        <i class="fa fa-pencil fa-fw"></i>
        <% end %>
      </div>
      <div class="v-separator"></div>
      <div class="show-user-right">
        <%= render "category_questions", category: "supporting_doc" %>
      </div>
    </div>
  </div>
</div>
