<!-- Page title-->
<% content_for(:title_tag) do %>
  Application
<% end %>
<!-- End of page title-->


<div class="container">

  <!-- first row: page header -->
  <div class="row">
    <div class="col-xs-12">
      <div class="questionnaire-head">
        <h1>My application</h1>
        <p>it will take only 5 minutes of your time!</p>
      </div>
    </div>
  </div>
  <!-- end of first row -->

  <!-- second row: start of questions -->
  <div class="row">
    <div class="col-xs-12">
      <!-- Loading the questions into questions_array-->
      <% questions_array = YAML.load(open('config/interview_questions.yml').read) %>
      <!-- start of the loop -->
      <% questions_array.each_with_index do |question, index| %>
        <div class="question text-center">
          <h3><%= question['title'] %></h3>
          <p><%= question['description'] %></p>
          <!-- loads the form partials -->
          <div class="answer text-center">
            <% if question['model'] == 'interview' %>
              <%= render "form_#{question['field']}", interview: @interview %>
            <% else %>
              <%= render "form_#{question['field']}", user: @user %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- End of second row-->
</div>
<!-- End of container --> -->


<!-- commented -->
<!--       <!-- opens the summary page -->
      <div class="tab-pane fade" role="tabpanel" id=<%= "stepper-step-" + (questions_array.length + 1).to_s %>>
        <div class="summary-container">
          <%= render "interview_last_page" %>
          <div class="submit-all-form">
            <%= link_to "Not Yet", interview_path(@interview), class: "btn btn-primary pull-left" %>
            <%= button_to "Submit all", {controller: "interviews", action: 'update', interview_completed: true}, method: :patch, class: "btn btn-primary pull-right" %>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


