<div class="container">
  <div class="questions-container">

    <!-- first row with head -->
    <div class="row">
      <div class="col-xs-12">
        <div class="questionnaire-head">
          <h1>My questionnaire</h1>
          <p>You can edit a questionnaire field by clicking on your answer in green</p>
        </div>
      </div>
    </div>
    <!-- page header -->
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- STEPPER
            Allows a user to complete steps in a given process.

                * Required base class: .stepper
                @param .active
                @param .completed
                @param .disabled

                Dependencies:
                  //maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css
                  //cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js
                  //maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js

            -->

          <div class="stepper">
            <!-- Those are the tab element -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a class="persistant-disabled" href="#stepper-step-1" data-toggle="tab" aria-controls="stepper-step-1" role="tab" title="Step 1">
                  <span class="round-tab">1</span>
                </a>
              </li>
              <li role="presentation" class="disabled">
                <a class="persistant-disabled" href="#stepper-step-2" data-toggle="tab" aria-controls="stepper-step-2" role="tab" title="Step 2">
                  <span class="round-tab">2</span>
                </a>
              </li>
              <li role="presentation" class="disabled">
                <a class="persistant-disabled" href="#stepper-step-3" data-toggle="tab" aria-controls="stepper-step-3" role="tab" title="Step 3">
                  <span class="round-tab">3</span>
                </a>
              </li>
              <li role="presentation" class="disabled">
                <a class="persistant-disabled" href="#stepper-step-4" data-toggle="tab" aria-controls="stepper-step-4" role="tab" title="Complete">
                  <span class="round-tab">4</span>
                </a>
              </li>
              <li role="presentation" class="disabled">
                <a class="persistant-disabled" href="#stepper-step-5" data-toggle="tab" aria-controls="stepper-step-5" role="tab" title="Complete">
                  <span class="round-tab">5</span>
                </a>
              </li>
            </ul>
            <!-- End of the tab elements -->

            <!-- Here you have the different forms for each question -->

            <div class="tab-content">
              <div class="tab-pane fade in active" role="tabpanel" id="stepper-step-1">
                <div class="question">
                  <h3>In which arrondissement are you looking?</h3>
                  <p>bla bla bla</p>
                  <%= render 'form_arrondissement', interview: @interview %>
                </div>
                <ul class="list-inline pull-right">
                <!-- I hide those links because they're part of the initial code
                and without them, it's hard to make it work
                The click on those links is triggered by the submit -->
                  <li>
                    <a class="btn btn-primary next-step">Next</a>
                  </li>
                </ul>
              </div>
              <div class="tab-pane fade" role="tabpanel" id="stepper-step-2">
                <div class="question">
                  <h3>Have you already found an appartment?</h3>
                  <p>If yes, you co tenents will have to complete a separate application</p>
                  <%= render 'form_has_found_appartment', interview: @interview %>
                </div>
                <ul class="list-inline pull-right">
                  <li>
                    <a class="btn btn-default prev-step">Back</a>
                  </li>
                  <li>
                    <a class="btn btn-primary next-step hidden">Next</a>
                  </li>
                </ul>
              </div>
              <div class="tab-pane fade" role="tabpanel" id="stepper-step-3">
                <div class="question">
                  <h3>What is your first name?</h3>
                  <p>Info from linkedin, you can edit or press enter</p>
                  <%= render 'form_first_name', user: @user %>
                </div>
                <ul class="list-inline pull-right">
                  <li>
                    <a class="btn btn-default prev-step">Back</a>
                  </li>
                  <li>
                    <a class="btn btn-primary next-step hidden">Next</a>
                  </li>
                </ul>
              </div>
              <div class="tab-pane fade" role="tabpanel" id="stepper-step-4">
                <div class="question">
                  <h3>What is your second name?</h3>
                  <p>Info from linkedin, you can edit or press enter</p>
                  <div class="embedded-form">
                    <%= simple_form_for @user, remote: true do |f| %>
                      <%= f.input :first_name %>
                      <%= f.submit 'Save', class: "btn btn-primary" %>
                    <% end %>
                  </div>
                </div>
                <ul class="list-inline pull-right">
                  <li>
                    <a class="btn btn-default prev-step">Back</a>
                  </li>
                  <li>
                    <a class="btn btn-primary next-step hidden">Next</a>
                  </li>
                </ul>
              </div>

              <div class="tab-pane fade" role="tabpanel" id="stepper-step-5">
                <h3>4. All done!</h3>
                <p>You have successfully completed all steps.</p>
              </div>
            </div>

          </div>

        </div>
      </div>
    <!-- end -->

  </div>
</div>
