<!-- Page title-->
<% content_for(:title_tag) do %>
  Update Interview
<% end %>
<!-- End of page title-->

<div class="container">
  <div class="questions-container">
    <!-- Header -->
    <div class="row">
      <div class="col-xs-12">
        <div class="questionnaire-head">
          <h1>My application</h1>
          <p>You can edit the questionnaire below: don't forget to save each question that you change</p>
        </div>
      </div>
    </div>

    <div class="done-button">
      <%= link_to "Take me back", interview_path(@interview), class: "btn btn-sm btn-primary" %>
    </div>

    <!-- summary -->
    <%= render "interview_summary"  %>

    <div class="edit-form hidden">
      <!-- Starting the loop -->
      <% questions_array = YAML.load(open('config/interview_questions.yml').read) %>
      <% questions_array.each_with_index do |question, index| %>
        <div class="question">
          <h3><%= question['title'] %></h3>
          <p><%= question['description'] %></p>
          <% if question['model'] == 'interview' %>
            <%= render "form_#{question['field']}", interview: @interview %>
          <% else %>
            <%= render "form_#{question['field']}", user: @user %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
