<div class="container">
  <div class="questions-container">

    <!-- first row with head -->
    <div class="row">
      <div class="col-xs-12">
        <div class="questionnaire-head">
          <h1>My questionnaire</h1>
          <p>You can edit a questionnaire field by clicking on your answer in green</p>
        </div>
      </div>
    </div>

    <!-- First question yes no style -->
    <div class="row">
      <div class="col-xs-12">
        <div class="question">
          <h3>Have you already found an appartment?</h3>
          <p>If yes, you co tenents will have to complete a separate application</p>
          <div class="yes-no-form">
            <%= button_to 'Yes',{controller: "interviews", action: 'create', has_found_apartment: true, method: 'get'}, class: "btn btn-primary" %>
            <%= button_to 'No',{controller: "interviews", action: 'create', has_found_apartment: false, method: 'get'}, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>

    <!-- First question form style -->
    <div class="row">
      <div class="col-xs-12">
        <div class="question">
          <h3>In which arrondissement are you looking?</h3>
          <p>bla bla bla</p>
          <div class="embedded-form">
            <%= simple_form_for @interview do |f| %>
              <%= f.input :arrondissement, collection: 1..20 %>
              <%= f.submit 'Save', class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
