
<!-- Page title-->
<% content_for(:title_tag) do %>
  Dashboard
<% end %>
<!-- End of page title-->

<div class="container">
  <div class="wrapper bg-light-gray show-container-padding">
      <div class="row">

        <div class="col-xs-12 col-md-7">
          <div class="interview-show-top-left-container">
            <%= render "interviews_show_user" %>
          </div>

          <div class="interview-show-top-left-container">
            <%= render "interviews-show-my-interview" %>
          </div>

        </div>
        <div class="col-xs-12 col-md-5">
          <div class="interview-show-top-left-container">
            <div class="row">
              <%= render "form_show_interview", interview: @interview %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>




<%= link_to "#", id:"show-chat" do %>
  <div class="chat-button" >
    <%= image_tag "chat.svg" %>
  </div>
<% end %>

<!-- chat div  -->
<div class= "chat-container hidden" id="chat">
  <div class="chat-title">How can we help?</div>
  <div class="chat-sub-title">you can ask your question in french or english</div>
  <div class="messages-container">
    <% @messages.each do |message|%>
      <div class="message">
        <p class="message-sender"><%= message.sender.first_name %> <%= message.sender.last_name %></p>
        <p class="message-timestamp"><%= message.created_at %></p>
        <p class="message-content"><%= message.content %></p>
      </div>
    <% end %>
  </div>
  <div class="message-form-container">
    <form class="message-form" action="/">
      <div class="form-group">
        <textarea class="form-control" id="message-area" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<!-- end of chat div -->


<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $( ".dashboard-user-feature-icon-container" ).click(function(e) {
        $(this).toggleClass( "active-feature" );
        var url = "/organisations/<%= @interview.id %>/edit?field=" + e.target.id
        $.ajax({
          type: "GET",
          url: url
        });
      });
      $('.message-form').submit(function(e) {
          e.preventDefault();
          var content = "<div class=\"message\"><p class=\"message-sender\"><%= current_user.first_name %> <%= current_user.last_name %></p><p class=\"message-timestamp\">A few seconds ago</p><p class=\"message-content\">" + $("#message-area").val() + "</p></div>"
          $( ".messages-container" ).append(content);
          var url = "/messages/<%= @interview.id %>/create?message=" + encodeURI($('#message-area').val())
          $('#message-area').val('');
        $.ajax({
          type: "GET",
          url: url
        });
      })
    });
  <% end %>
<% end %>
