
<!-- Page title-->
<% content_for(:title_tag) do %>
  Dashboard
<% end %>
<!-- End of page title-->
<div class="container-fluid">
  <div class="wrapper bg-light-gray show-container-padding">
      <div class="row">

        <div class="col-xs-12 col-md-7">
          <div class="interview-show-top-left-container">
            <%= render "interviews_show_user" %>
          </div>

          <div class="interview-show-top-left-container">
            <%= render "interviews-show-my-interview" %>
          </div>

        </div>
        <div class="col-xs-12 col-md-5">
          <div class="interview-show-top-left-container" id="dropzone-div">
            <div class="row">
              <%= render "form_show_interview", interview: @interview %>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<%= link_to "#", id:"show-chat" do %>
  <div class="chat-button" >
    <i class="fa fa-commenting-o"></i>
  </div>
<% end %>

<!-- chat div  -->
<div class= "chat-container hidden" id="chat">
  <div class="chat-title">How can we help?</div>
  <div class="chat-sub-title">You can ask your question in french or english.</div>
  <div class="chat-messages-container" id="chat-m-container">
    <% @messages.each do |message|%>
      <div class="chat-message">
        <p class="chat-message-sender"><%= message.sender.first_name %> <%= message.sender.last_name %></p>
        <p class="chat-message-timestamp"><%= message.created_at %></p>
        <p class="chat-message-content"><%= message.content %></p>
      </div>
    <% end %>
  </div>
  <div class="chat-message-form-container">
    <form class="chat-message-form" action="/">
      <div class="form-group">
        <textarea class="form-control" id="chat-message-area" rows="3"></textarea>
      </div>
      <div class="submit-container">
        <i class="fa fa-send"></i><input type="submit" value="Send Message"></input>
      </div>
    </form>
  </div>
</div>
<!-- end of chat div -->


<% content_for(:js) do %>
  <%= javascript_tag do %>

    $(document).ready(function() {
      function updateScroll(){
      var element = document.getElementById("chat-m-container");
      element.scrollTop = element.scrollHeight;
      }
      $('#show-chat').click(function(event){
        event.preventDefault();
        $('#chat').toggleClass('hidden');
        updateScroll()
      });

      $('.chat-button').on('click', function () {
          $(this).toggleClass('clicked');
      });

      $('.chat-message-form').submit(function(e) {
          e.preventDefault();
          var content = "<div class=\"message\"><p class=\"message-sender\"><%= current_user.first_name %> <%= current_user.last_name %></p><p class=\"message-timestamp\">A few seconds ago</p><p class=\"message-content\">" + $("#chat-message-area").val() + "</p></div>"
          $( ".chat-messages-container" ).append(content);
          updateScroll()
          var url = "/messages/<%= @interview.id %>/create?message=" + encodeURI($('#chat-message-area').val())
          $('#chat-message-area').val('');
        $.ajax({
          type: "GET",
          url: url
        });
      })
    });
  <% end %>
<% end %>
