<div class="wrapper bg-light-gray show-container-padding">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="interview-show-top-left-container">
          <%= render "interviews_show_user" %>
        </div>
        <div class="interview-show-top-left-container">
        <%= render "interviews-show-my-interview" %>
        </div>
        <div class="interview-show-bottom-left-container">
          <!--  -->
          <div class="messages-container">
           <h5>Talk to us</h5>
            <% @messages.each do |message|%>
              <div class="message">
                <p class="message-sender"><%= message.sender.first_name %> <%= message.sender.last_name %></p>
                <p class="message-timestamp"><%= message.created_at %></p>
                <p class="message-content"><%= message.content %></p>
              </div>
            <% end %>
          </div>
          <div class="message-form-container">
            <form class="message-form" action="/">
              <div class="form-group">
                <textarea class="form-control" id="message-area" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-xs btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="interview-show-top-right-container">
          <%= render "interviews-show-supporting-docs" %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $( ".dashboard-user-feature-icon-container" ).click(function(e) {
        $(this).toggleClass( "active-feature" );
        var url = "/organisations/<%= @interview.id %>/edit?field=" + e.target.id
        $.ajax({
          type: "GET",
          url: url
        });
      });
      $('.message-form').submit(function(e) {
          e.preventDefault();
          var content = "<div class=\"message\"><p class=\"message-sender\"><%= current_user.first_name %> <%= current_user.last_name %></p><p class=\"message-timestamp\">A few seconds ago</p><p class=\"message-content\">" + $("#message-area").val() + "</p></div>"
          $( ".messages-container" ).append(content);
          var url = "/messages/<%= @interview.id %>/create?message=" + encodeURI($('#message-area').val())
          $('#message-area').val('');
        $.ajax({
          type: "GET",
          url: url
        });
      })
    });
  <% end %>
<% end %>
