<div class="container no-padding body-container-no-footer">
  <div class="header">
    <div class="profile">

    </div>
    <div class="tabs">
      <a class="tab active" href="#">
        <h3>All Profiles</h3>
      </a>
      <a class="tab" href="#">
        <h3>New Profiles</h3>
      </a>
      <a class="tab" href="#">
        <h3>Submitted Applications</h3>
      </a>
      <a class="tab" href="#">
        <h3>Certified Users</h3>
      </a>
      <a class="tab" href="#">
        <h3>Expired Certifications</h3>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="dashboard-container">
        <table id="dashboard-table" class="table table-hover table-condensed" cellspacing="0"">
          <thead>
            <tr>
              <th>#</th>
              <th>User</th>
              <th>Stage</th>
              <th>Move-in date</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <% @interviews.each_with_index do |itw, i| %>
              <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%=  itw.user.first_name.capitalize %> <%= itw.user.last_name.capitalize %></td>
                <td>60%</td>
                <td><%= itw.move_in_date.strftime("%F") unless itw.move_in_date.nil? %></td>
                <td>Pending</td>
                <td>Zoom</td>
              </tr>
            <%end%>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#dashboard-table').DataTable();
    } );
  <% end %>
<% end %>
