<% content_for(:title_tag) do %>
  Schools
<% end %>

<div class="container no-padding body-container-no-footer">
  <div class="header">
    <div class="profile">
    <div class="user-show-photo"><%= user_picture_avatar(current_user, "avatar organisation-avatar") %></div>
      <h1><%= @organisation.name %></h1>
    </div>
    <div class="container-fluid no-padding">
      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 no-padding">

          <div class="tabs">
            <%= link_to "/organisations?tab=1", class: "tab", id: "1" do %>
                <h3>All Profiles</h3>
            <%end%>
            <%= link_to "/organisations?tab=2", class: "tab", id: "2" do %>
                <h3>New Profiles</h3>
            <%end%>
            <%= link_to "/organisations?tab=3", class: "tab", id: "3" do %>
                <h3>Submitted Applications</h3>
            <%end%>
            <%= link_to "/organisations?tab=4", class: "tab", id: "4" do %>
                <h3>Certified Users</h3>
            <%end%>
            <%= link_to "/organisations?tab=5", class: "tab", id: "5" do %>
                <h3>Expired Certifications</h3>
            <%end%>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid no-padding">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 no-padding">
        <div class="dashboard-container">
          <table id="dashboard-table" class="table table-hover table-condensed" cellspacing="0"">
            <thead>
              <tr>
                <th>#</th>
                <th>User</th>
                <th>Stage</th>
                <th>Move-in date</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <% @interviews.each_with_index do |itw, i| %>
                <tr>
                  <th scope="row"><%= i+1 %></th>
                  <td><%=  itw.user.first_name.capitalize %> <%= itw.user.last_name.capitalize %></td>
                  <td><%= (compute_student_stage(itw.user)*100).to_i %> %</td>
                  <td><%= itw.move_in_date.strftime("%F") unless itw.move_in_date.nil? %></td>
                  <td>Pending</td>
                  <td>
                    <%= link_to organisation_path(itw.id) do %>
                       <i class="fa fa-eye"></i>
                    <% end %>
                  </td>
                </tr>
              <%end%>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $('#dashboard-table').DataTable();
      $('#<%= params[:tab].nil? ? 1 : params[:tab]  %>').addClass('active');
    } );
  <% end %>
<% end %>
