<div class="container-fluid body-container-spreader gray">

  <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-5 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12">

                <%= render "user_card" %>

              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="dashboard-user-card">
                  <div class="student-info-container">
                    <div class="phone_number">
                      <span><i class="fa fa-phone"></i><%= @student.phone_number.nil? ? "-" : @student.phone_number %> </span>
                    </div>
                    <div class="contact_mail">
                    <span><i class="fa fa-envelope"></i><%= @student.email %></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-5">
            <div class="row">
              <div class="col-xs-12">

                <%= render "certification_requirements" %>

              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">

                <%= render "chat" %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $( ".activable-feature" ).click(function(e) {
        $(this).toggleClass( "active-feature" );
        var url = "/organisations/<%= @interview.id %>/edit?field=" + e.target.id
        $.ajax({
          type: "GET",
          url: url
        });
      });
      $('.message-form').submit(function(e) {
          e.preventDefault();
          var content = "<div class=\"message\"><p class=\"message-sender\"><%= current_user.first_name %> <%= current_user.last_name %></p><p class=\"message-timestamp\">A few seconds ago</p><p class=\"message-content\">" + $("#message-area").val() + "</p></div>"
          $( ".messages-container" ).append(content);
          var url = "/messages/<%= @interview.id %>/create?message=" + encodeURI($('#message-area').val())
          $('#message-area').val('');
        $.ajax({
          type: "GET",
          url: url
        });
      })
    });
  <% end %>
<% end %>


