<div class="container body-container-no-footer">
  <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-5 col-md-offset-1">
            <div class="row">
              <div class="col-xs-12">
                <div class="dashboard-user-card">
                  <div class="dashboard-user-card-left">
                    <%= user_picture_avatar(@student, "avatar-bordered-xl")  %>
                    <h5><%= @student.first_name.capitalize %> <%= @student.last_name.capitalize %></h5>
                    <p><%= @student.organisation.name.upcase %></p>
                  </div>

                  <div class="dashboard-user-card-separator">

                  </div>
                  <div class="dashboard-user-card-right">

                    <div class="dashboard-user-card-right-item">
                      <div class="dashboard-user-card-right-item-icon">
                        <i class="fa fa-check-circle-o"></i>
                      </div>
                      <div class="dashboard-user-card-right-item-text">
                      <span class="dashboard-user-card-right-item-text-title">Co-Signer</span>
                      <p>Has a co-signer</p>
                      </div>
                    </div>

                    <div class="dashboard-user-card-right-item">
                      <div class="dashboard-user-card-right-item-icon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <div class="dashboard-user-card-right-item-text">
                      <span class="dashboard-user-card-right-item-text-title">Move-in Date</span>
                      <p><%= @interview.move_in_date.present? ? @interview.move_in_date : '-' %></p>
                      </div>
                    </div>

                    <div class="dashboard-user-card-right-item">
                      <div class="dashboard-user-card-right-item-icon">
                        <i class="fa fa-calculator"></i>
                      </div>
                      <div class="dashboard-user-card-right-item-text">
                      <span class="dashboard-user-card-right-item-text-title">Budget</span>
                      <p><%= @interview.monthly_budget.present? ? @interview.monthly_budget : '-' %> €</p>
                      </div>
                    </div>

                    <div class="dashboard-user-card-right-item">
                      <div class="dashboard-user-card-right-item-icon">
                        <i class="fa fa-money"></i>
                      </div>
                      <div class="dashboard-user-card-right-item-text">
                      <span class="dashboard-user-card-right-item-text-title">Revenue</span>
                      <p><%= @interview.monthly_income.present? ? @interview.monthly_income : '-' %>  €</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="dashboard-user-card">
                  <h1>coucou</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="dashboard-user-card">
                  <h1>coucou</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-5">
            <div class="row">
              <div class="col-xs-12">
                <div class="dashboard-user-card">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="requirements-title-container">
                          <h4>Certification requirements</h4>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="dashboard-user-feature">
                          <div id="interview_completed" class="dashboard-user-feature-icon-container <%= active_feature?(@interview, "interview_completed") %>">
                            <%= image_tag "typewriter.png", class: "dashboard-user-feature-icon", id: "interview_completed" %>
                          </div>
                          <div class="dashboard-user-feature-text">
                            <span>Interview Completed</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="dashboard-user-feature">
                          <div id="documents_submitted" class="dashboard-user-feature-icon-container  <%= active_feature?(@interview, "documents_submitted")%>">
                            <%= image_tag "folder.png", class: "dashboard-user-feature-icon", id: "documents_submitted" %>
                          </div>
                          <div class="dashboard-user-feature-text">
                            <span>Documents submitted</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="dashboard-user-feature">
                          <div id="documents_validated" class="dashboard-user-feature-icon-container <%= active_feature?(@interview, "documents_validated")%>">
                            <%= image_tag "diploma.png", class: "dashboard-user-feature-icon", id: "documents_validated" %>
                          </div>
                          <div class="dashboard-user-feature-text">
                            <span>Documents validated</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="dashboard-user-feature">
                          <div id="agreement_signed" class="dashboard-user-feature-icon-container <%= active_feature?(@interview, "agreement_signed")%>">
                            <%= image_tag "agreement.png", class: "dashboard-user-feature-icon", id: "agreement_signed" %>
                          </div>
                          <div class="dashboard-user-feature-text">
                            <span>G. Agreement signed</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="dashboard-user-feature">
                          <div id="lease_provided" class="dashboard-user-feature-icon-container <%= active_feature?(@interview, "lease_provided")%>">
                            <%= image_tag "court.png", class: "dashboard-user-feature-icon", id: "lease_provided" %>
                          </div>
                          <div class="dashboard-user-feature-text">
                            <span>Lease provided</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="dashboard-user-feature">
                          <div id="lease_signed" class="dashboard-user-feature-icon-container <%= active_feature?(@interview, "lease_signed")%>">
                            <%= image_tag "act.png", class: "dashboard-user-feature-icon", id: "lease_signed" %>
                          </div>
                          <div class="dashboard-user-feature-text">
                            <span>Lease signed</span>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $( ".dashboard-user-feature-icon-container" ).click(function(e) {
        $(this).toggleClass( "active-feature" );
        url = "/organisations/<%= @interview.id %>/edit?field=" + e.target.id
        $.ajax({
          type: "GET",
          url: url,
          beforeSend: function(jqXHR, settings) {
              jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
          },
          error: function(){
              alert("An error ocurred");
          },
          success: function(){
              console.log("success")
    }
});
      });
    });
  <% end %>
<% end %>
