<!-- Page title-->
<% content_for(:title_tag) do %>
  Update Profile
<% end %>
<!-- End of page title-->
<div class="container body-container-no-footer">
  <div class="questions-container">
    <!-- Header -->
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 ">
        <div class="questionnaire-head">
          <h1>My Profile</h1>
          <p>You can edit your profile here</p>
        </div>
        <!-- Starting profile edit -->

        <%= simple_form_for(@user) do |f| %>
        <br>
        <div class ="user-edit-form">
            <h4><%= f.input :email %></h4>
            <h4><%= f.input :first_name %></h4>
            <h4><%= f.input :last_name %></h4>
            <h4><%= f.input :phone_number %></h4>
            <h4><%= f.input :home_address %></h4>
            <h4><%= f.input :date_of_birth, as: :string, input_html:{class: "birth_datepicker"} %></h4>
            <h4><%= f.input :photo, as: :attachinary %></h4s>
            <div class="done-button">
              <h3><%= f.submit "I'm done!", class: "btn btn-success btn-lg" %></h3>
            </div>
          <br><br><br><br>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
