<!-- Page title-->
<% content_for(:title_tag) do %>
  We can be your guarantor
<% end %>
<!-- End of page title-->

<!-- Transparent navbar for home -->
<% content_for(:navbar_class, "navbar-home") %>
<% content_for () %>

<!-- Your banner code -->
<div class="banner" style= "background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.3) 50%), url('<%= cl_image_path('banner-photo') %>')">

  <div class="banner-content" id="home-banner">
    <h1>We can be your guarantor</h1>
    <p>Garantme lease guarantees helps you secure housing in Paris</p>
    <% if user_signed_in? %>
      <%= link_to "Be my guarantor!", new_interview_path, id: 'home-button', class: 'btn btn-primary'%>
    <% else %>
      <%= link_to "Be my guarantor!", new_user_registration_path, id: 'home-button', class: 'btn btn-primary'%>
    <% end %>
  </div>
</div>

<!-- Your features code -->
<div class="container features text-center padded">
  <div class ="row">
    <div>
      <h1>Get the flat that you deserve!</h1>
      <h3>9 out of 10 lessors in France require students to provide a French guarantor when applying for a lease. With <strong>Garantme</strong> as your guarantor, you can apply to the flat of your choice just like everyone else.</h3>
      <!-- features -->
      <div class="row">
        <!-- first feature -->
        <div class="col-xs-12 col-sm-4 col-md-4">
           <%= image_tag "curriculum.svg" %>
          <h2>Apply</h2>
          <p>Build your online application and upload supporting documents in English</p>
        </div>

        <!-- second feature -->
        <div class="col-xs-12 col-sm-4 col-md-4">
          <%= image_tag "certificate.svg" %>
          <h2>Get certified</h2>
          <p>Receive your Garantme guarantee in 12 hours</p>
        </div>

        <!-- third feature -->
        <div class="col-xs-12 col-sm-4 col-md-4">
            <%= image_tag "house.svg" %>
            <h2>Find your home</h2>
            <p>Find your apartment, pay our fee, and sign your new lease</p>
        </div>
      </div>
    </div>
  </div>
</div>
