<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield(:title_tag).blank? ? "Garantme" : yield(:title_tag) %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Facebook card -->
    <meta property="og:url" content="http://www.garantme.fr/" />
    <meta property="og:title" content="Lease guarantees for international students"/>
    <meta property="og:description" content="Make your housing application as competitive as French Students'"/>
    <meta property="og:image" content="http://res.cloudinary.com/di7e0fdiq/image/upload/c_scale,h_630,w_1200/v1490792110/home-page-intern.jpg"/>
    <!-- End of facebook card -->
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= favicon_link_tag 'logo_garantme.png' %>

  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class="pages-height" >
      <% unless params[:controller] == 'pages' %>
        <div id="flash"><%= render 'shared/flashes' %></div>
      <% end %>
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:js) %>
  </body>
</html>
